.RecentEntries {
  list-style: none;
  padding-left: 1em;
}

.RecentEntries span {
  margin: 0 0.5rem;
}

.RecentEntries-controls {
  visibility: hidden;
  text-align: center;
}

.RecentEntries li:hover .RecentEntries-controls {
  visibility: visible;
}

.RecentEntries-controls:hover {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
}