.EntryList-data {
  text-align: center;
}

.EntryList-row {
  cursor: pointer;
}

.EntryList-control-container {
  vertical-align: middle;
  padding: 0.1em 2em;
}

.EntryList-control:hover {
  font-weight: bold;
}

.EntryList-expander {
  color: darkgray;
  padding: 0.1em 0.5em;
}

.EntryList-expander:hover {
  color: black;
}
