.Timecard {
  width:100%;
  max-width:100%;
}
.Timecard td, .Timecard th {
  text-align: center;
}

.Timecard td {
  font-size: 0.75rem;
}

.Timecard tr td {
  cursor: pointer
}

.Timecard-controls {
  visibility: hidden;
  width: 6em;
  max-width: 6em;
}

.Timecard-controls span {
  padding: 0 0.3em;
}

.Timecard tr:hover .Timecard-controls {
  visibility: visible;
}

.Timecard-controls span:hover {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
}