.NewTask-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10,10,10,0.5);
}

.NewTask-content {
  position: absolute;
  top: 5em;
  left: 5em;
  right: 8em;
  background: rgb(250, 250, 250);
  border-radius: 0.5em;
  padding: 2em;
}

.NewTask-control-container {
  text-align: right;
}
.NewTask-control {
  margin: 0.5em;
  bottom: 0;
  right: 0;
}
